body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

#banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.day_1, .day_2, .day_3 {
    padding-bottom: 9px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.day_2, .day_3 {
    padding-top: 11px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_square {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square {
    width: 150px;
    height: 150px;
    margin: 7px 7px;
    background-color: #39aae1;
}

.widget_appointment div {
    border-bottom: 1px solid #c4c4c4;
    font-size: 15px;
}

.widget_appointment .desc {
    padding-bottom: 20px;

}

.widget_appointment .contacts {
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;

}

.footer_areaitem {
    color: #fff;
    flex: 1;
}

footer .widget_title_text {
    color: #fff;
}

.widget_footer_1 {
    font-size: 13px;
    line-height: 19px;
    padding-right: 20px;
    color: #868484;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget_footer_1 .desc {
    padding-bottom: 20px;
}

.widget_footer_1 .contacts {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 150px;
}

.widget_footer_1 .contacts a {
    text-decoration: none;
    color: #fff;
}

.widget_footer_1 .icons {
    font-size: 30px;
    margin-top: 20px;
}

.widget_footer_2 {
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    padding-right: 20px;
}

.widget_footer_2 span {
    color: #0079c7;
}

.widget_footer_2 .desc {
    margin-bottom: 15px;
}

.gray {
    color: #868484;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
}

.mm_line {
    height: 3px;
    background-color: #0079c7;
}

@media (max-width: 600px) {

    #banner {
        height: auto;
        background-position: top;
        background-size: contain;
    }

    .banner_headline {
        padding: 10px 20px;
        max-width: 200px;
    }

    .banner_headline h1 {
        font-size: 30px;
    }

    .banner_headline h2 {
        font-size: 15px;
        margin-top: 15px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral section, #geral aside {
        padding: 20px;
    }

    .container {
        flex-direction: column;
        width: 600px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding-top: 20px;
        
    }

    header {
        height: auto;
        padding: 20px 20px;
    }
    
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}