body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

#banner {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.day_1, .day_2, .day_3 {
    padding-bottom: 9px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.day_2, .day_3 {
    padding-top: 11px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square {
    width: 150px;
    height: 150px;
    margin: 7px 7px;
    background-color: #39aae1;
}